.footer{
    padding: 20px 10px 10px 10px;
    background-color: rgb(86, 80, 80);
    border-top: 1px solid #6a6a6a;
    display: flex;
    color: white;
}

.footer div {
    flex: 1;
}

.footer label{
    width: 80px;
}

